.dropdown-container {
    position: relative;
    width: 99%;
}

.dropdown-input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    background: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
}

.dropdown-list {
    z-index: 1000;
    position: absolute;
    background: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
    border: 1px solid #ccc;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdown-item {
    padding: 8px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}
