.reminders-container {
    width: 90%; /* Увеличиваем ширину контейнера для лучшего отображения */
    max-width: 400px; /* Ограничиваем максимальную ширину */
    margin: 20px auto;
    font-family: Arial, sans-serif;
    text-align: center;
    overflow-x: auto; /* Добавляем горизонтальную прокрутку при необходимости */
}

.reminders-title {
    font-size: 20px; /* Уменьшаем размер заголовка */
    color: #333;
    margin-bottom: 15px; /* Уменьшаем отступ */
}

.reminders-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.reminders-table th, .reminders-table td {
    padding: 8px; /* Уменьшаем отступы в ячейках */
    border: 1px solid #ddd;
    text-align: left;
}

.reminders-table th {
    display: none;
}

.critical-row {
    background-color: #ff9999;
    color: black
}

.no-reminders {
    font-size: 16px;
    color: #666;
}

.minor-row {
    background-color: #e6f7e6;
    color: black
}

.low-row {
    background-color: #f0f4c3;
    color: black
}

.medium-row {
    background-color: #ffe4b3; /* Светло-оранжевый */
    color: black
}

.high-row {
    background-color: #ffcccb; /* Светло-красный */
    color: black
}