@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
Button {
    background-color: #8b00ff;
    color: #fff;
    border: none;
    border-radius: 10px;
    height: 60px;
    padding-inline: 20px;
    width: 220px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}