:root {
    --primary-button-color: #7a00cc;
    --primary-button-hover-color: #6500a3;
}

.confirm-container {
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 8px;
    background: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    position: relative;
}

h2, p, button {
    transition: opacity 0.5s ease; /* Плавное исчезновение текста */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: var(--primary-button-color);
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: var(--primary-button-hover-color);
}

/* Скрываем весь контент, кроме утенка и текста отправки */
.duck-sent-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.duck-gif {
    width: 200px;
    height: 200px;
    object-fit: contain; /* Если нужно, чтобы GIF корректно вмещался */
}

.sent-message {
    font-size: 18px;
    font-weight: bold;
    color: var(--tg-theme-text-color);
}
.error-message {
    color: red;
    margin-top: 10px;
    font-weight: bold;
}