.StartPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-inline: 5vw;
    text-align: center;
}

.AbMind {
    font-size: 48px;
}

.AdMindDescription {
    font-size: 10px;
}

